@import './theme/overrides';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100vh;
}

body {
  height: 100%;
  color: #000;
  font-family: "Montserrat";
}

#root {
  min-height: 100vh;
}

.ReactQueryDevtoolsPanel * {
  color: #fff;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 700;
}

h3 {
  font-size: var(--size-text-xl);
  font-weight: 700;
}

ul,
li {
  list-style: none;
}