.link {
  border-radius: 16px;
  transition: 0.3s;

  & a {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-red-dark);
  }

  &.active {
    background-color: var(--color-white);
  }
}